Transpairent/Transpairent/obj
Transpairent/ConsoleClient/obj
Transpairent/Transpairent.Contracts/obj
Transpairent/Transpairent.Core/obj
Transpairent/Transpairent.Abstractions/obj
Transpairent/ConsoleClient/bin/Debug
Transpairent/Transpairent.Abstractions/bin/Debug
Transpairent/Transpairent/bin/Debug
